# Local Development
VITE_API_URL=http://localhost:5005/api/v1
VITE_STORAGE_URL=http://localhost:5005/uploads
VITE_APP_NAME="Research Factors"

# Production Example:
# VITE_API_URL=https://api.researchfactors.com/api/v1
# VITE_STORAGE_URL=https://api.researchfactors.com/uploads
# VITE_APP_NAME="Research Factors"
